@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@_Localizer["Learn"] <a href="https://learn.microsoft.com/aspnet/core">@_Localizer["Build"]</a>.</p>
</div>
